body{
    background-color: #EDEDE9;
}
.navbar {
    width: 100%;
    background-color: #D5BDAF;
    overflow: auto;
  }

  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #EDEDE9;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #EDEDE9;
    color: #D5BDAF;
  }

.PI{
    border: solid 2px transparent;
    margin: 5%;
    background-color: #D5BDAF;
}