body{
    background-color: #F1EFEF;
}
.navbar {
    width: 100%;
    height: 10%;
    background-color: #CCC8AA;
    overflow: auto;
  }
  .navbar a {
    float:right;
    text-align: center;
    padding: 12px;
    color: gray;
    text-decoration: none;
    font-size: 18px;
  }
  .navbar a:hover {
    background-color: #F1EFEF;
    color: #D5BDAF;
  }
.links{
  margin-right: 1%;
}

.PI{
    border: solid 2px transparent;
    margin: 5%;
    background-color: #B6BBC4;
}

.PI h1{
  text-align: center;
}

.Left{
  padding: 2%;
  width: 65%;
}
.Right{
  width: 35%;
}